body {
  background-color: navy;
  font-family: 'Oswald', sans-serif;
}

main {
  text-align: center;
  align-items: center;
  margin: auto;
  width: 95%;
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  padding-bottom: 10px;
}

p, a, h1 {
  color: white;
}

p, a {
  font-size: large;
}

form {
  color: black;
}

a:hover {
  color: #FFD500;
}


label {
  color: white;
}

.show-all-header {
  font-size: 3em;
}

.dealership-display {
  padding: 10px;

  /*background-color: #D3D3D3;*/
}

.main-header, h2 {
  color: white;
  text-align: center;
  margin: auto;
}


.form-item {
  width: 100%;
  display: inline;
}

#main-title-text {
  color: #FFD500;
  font-size: 3em;
}

.top-padding {
  padding-top: 15px;
}

.management-link {
  color: red;
  padding: 0 5px 0 5px;
}


#signinButton {
  background-image: url('btn_google_signin_light_normal_web.png');
  background-size: 191px 46px;
  background-position: center;
  height: 40px;
  width: 180px;
}

@media screen and (min-width: 600px) {
  main {
    width: 80%;
  }
}
