<!DOCTYPE html>
<html>
  <head>
    {% include "head_tags.html" %}
    <meta charset="utf-8">
    <title>Add a Car To Inventory</title>
  </head>
  <body>
    {% include "header.html" %}
    <br>
    <main>


    <br>

    <h2>Add Car to Inventory at {{dealership.name}}</h2>
    <br>
    <form class="" action="{{url_for('addCar', dealer_id = dealership.id)}}" method="post">
      <div class="form-item">
        <p>Status:</p>
        <input type="radio" id="status-choice-1" name="status" value="New" checked>
        <label for="status-choice-1">New</label>

        <input type="radio" id="status-choice-2" name="status" value="CPO">
        <label for="status-choice-2">CPO</label>

        <input type="radio" id="status-choice-3" name="status" value="Used">
        <label for="status-choice-3">Used</label>
      </div>
      <div class="form-item">
        <p>Year:</p>
        <input type="text" name="year" value="">
      </div>
      <div class="form-item">
        <p>Make:</p>
        <input type="text" name="make" value="{{dealership.make}}">
      </div>
      <div class="form-item">
        <p>Model:</p>
        <input type="text" name="model" value="">
      </div>

      <div class="form-item">
        <p>Price: $</p>
        <input type="text" name="price" value="">
      </div>
      <div class="form-item">
        <p>Mileage:</p>
        <input type="text" name="mileage" value="">
      </div>
      <div class="form-item">
        <p>Color:</p>
        <input type="text" name="color" value="">
      </div>
      <div class="form-item">
        <p>Image:</p>
        <input type="text" name="image" placeholde="Optional">
      </div>
      <br>
      <br>
      <input type="submit" name="" value="Add Vehicle">

    </form>
    <a href="{{url_for('displayInventory', dealer_id = dealership.id)}}">Back to Inventory</a>
    </main>
  </body>
</html>
