<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dealership Listing</title>
  </head>
  <body>
    {% include "header.html" %}
    <br>

    {% for dealership in dealerships %}
    <div class="dealership-display">
      <a href="{{url_for('displayInventory', dealer_id = dealership.id)}}">
        <img src="{{dealership.logo}}" height = "50" alt="Dealership logo">
        <p><strong>{{dealership.name}} </strong> {{dealership.location}}</p>
      </a>
      <a href="{{url_for('editDealer', dealer_id = dealership.id)}}">Edit</a>
      <a href="{{url_for('deleteDealer', dealer_id = dealership.id)}}">Delete</a>
    </div>
    <br>
    <br>
    {% endfor %}
    <br>
    <br>
    <a href="{{url_for('addDealer')}}">Add Dealership</a>
  </body>
</html>
