<!DOCTYPE html>
<html>
  <head>
    {% include "head_tags.html" %}
    <title>Dealership Listing</title>
  </head>
  <body>
    {% include "header.html" %}
    <br>
    <h2>All Dealerships</h2>
    <div class = "flash">
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

  </div>
  <main>
  <br>

    {% for dealership in dealerships %}
    <div class="dealership-display">
      <a href="{{url_for('displayInventory', dealer_id = dealership.id)}}">
        <img src="{{dealership.logo}}" height = "50" alt="Dealership logo">
        <p><strong>{{dealership.name}} </strong> {{dealership.location}}</p>
      </a>
      <a class="management-link" href="{{url_for('editDealer', dealer_id = dealership.id)}}">Edit    </a>
      <a class="management-link" href="{{url_for('deleteDealer', dealer_id = dealership.id)}}">Delete</a>
    </div>
    <br>

    {% endfor %}
    <br>
    <br>
    <a class="management-link" class="management-link" href="{{url_for('addDealer')}}">Add Dealership</a>

  </main>
  </body>
</html>
