<!DOCTYPE html>
<html>
  <head>
    {% include "head_tags.html" %}
    <meta charset="utf-8">
    <title>Delete Car</title>
  </head>
  <body>
    {% include "header.html" %}
    <br>
    <main>
    <br>  

    <img src="{{dealership.logo}}" alt="Dealership Logo">

    <h2>Delete Car #{{car.id}} From Inventory?</h2>
    <h3>{{car.status}} {{car.year}} {{car.make}} {{car.model}}</h3>
    <form class="" action="{{url_for('deleteCar', dealer_id = dealership.id, car_id = car.id)}}" method="post">
      <input type="submit" name="" value="Confirm Delete">
    </form>
    <a href="url_for('displayInventory', dealer_id = dealership.id)">Cancel</a>
    </main>
  </body>
</html>
