<!DOCTYPE html>
<html>
  <head>
    {% include "head_tags.html" %}
    <meta charset="utf-8">
    <title>Dealer Inventory</title>
  </head>
  <body>
    {% include "header.html" %}

    <br>
    <main>



      <h1>{{dealership.name}} Inventory</h1>
      <br>
      {% for car in inventory %}
      <div class="car-display-group">
        <a href="{{url_for('displayCar', dealer_id = dealership.id, car_id = car.id)}}"><h3>${{car.price}}: {{car.status}} {{car.year}} {{car.make}} {{car.model}}</h3>
        <img src="{{car.image}}" height="125px" alt="Image of Car">
        </a>
        <br>
        <a class="management-link" href="{{url_for('editCar', dealer_id = dealership.id, car_id = car.id)}}">Edit Car</a>
        <a class="management-link" href="{{url_for('deleteCar', dealer_id = dealership.id, car_id = car.id)}}">Delete Car</a>
      </div>
      {% endfor %}
      <br>
      <a class="management-link" href="{{url_for('addCar', dealer_id = dealership.id)}}">Add Car to Inventory</a>
      <br>
      <br>
      <a href="{{url_for('showDealers')}}">Show All Dealerships</a>
    </main>
    {% if 'username' not in session %}
      <script type="text/javascript">
        $(".management-link").css('display', 'none');
      </script>
    {% endif %}
  </body>
</html>
