<!DOCTYPE html>
<html>
  <head>
    {% include "head_tags.html" %}
    <meta charset="utf-8">
    <title>Display Car</title>
  </head>
  <body>
    {% include "header.html" %}

    <main>
      <br>
      <a href="{{url_for('displayInventory', dealer_id = dealership.id)}}">
      <img class = "dealerLogo" src="{{dealership.logo}}" alt="Dealership logo">
      </a>
      <h1>{{car.year}} {{car.make}} {{car.model}}</h1>
      <img src="{{car.image}}" alt="Image of Car">
      <h2>${{car.price}}</h2>
      <p>{{car.status}}, {{car.mileage}} Miles</p>
      <a class="management-link" href="{{url_for('editCar', dealer_id = dealership.id, car_id = car.id)}}">Edit Car</a>
      <a class="management-link" href="{{url_for('deleteCar', dealer_id = dealership.id, car_id = car.id)}}">Delete Car</a>
      <br>
      <a href="{{url_for('displayInventory', dealer_id = dealership.id)}}">Back to Inventory</a>
    </main>
  </body>
</html>
