<!DOCTYPE html>
<html>
  <head>
    {% include "head_tags.html" %}
    <meta charset="utf-8">
    <title>Edit Car</title>
  </head>
  <body>
    {% include "header.html" %}
    <br>
    <main>
        <br>

        <h1>Edit Car</h1>
        <form action="{{url_for('editCar', dealer_id = dealership.id, car_id = car.id)}}" method="post">
            <p>Year:</p>
            <input type="text" name="year" value="{{car.year}}">
            <p>Make:</p>
            <input type="text" name="make" value="{{car.make}}">
            <p>Model:</p>
            <input type="text" name="model" value="{{car.model}}">
            <p>Price: $</p>
            <input type="text" name="price" value="{{car.price}}">
            <p>Mileage:</p>
            <input type="text" name="mileage" value="{{car.mileage}}">
            <p>Color:</p>
            <input type="text" name="color" value="{{car.color}}">
            <p>Image:</p>
            <input type="text" name="image" value="{{car.image}}">
            <br>
            <br>
          <input type="submit" name="" value="Submit Changes">
          <br>
          <a href="{{url_for('displayInventory', dealer_id = dealership.id)}}">Cancel</a>
        </form>
    </main>
  </body>
</html>
