<div class="main-header">
  <div class="header-text">
    <!-- <a class = "title-link" href="{{url_for('showDealers')}}">
      <h3 class = 'show-all-header'>Show All Dealerships</h3>
    </a> -->
    <a href="{{url_for('showDealers')}}">
      <h1 id ="main-title-text">Dealership Manager</h1>
    </a>
  </div>
  <div class="login-links">
    {% if 'username' not in session %}
      <!-- <a href="{{url_for('showLogin')}}">Click Here to Log in</a> -->
      {% include "login.html" %}
    {% else %}
      <a href="{{url_for('gdisconnect')}}">Log out</a>
    {% endif %}
  </div>
</div>
