
  <meta charset="utf-8">
  <!-- <meta name="google-signin-client_id" content="624010594506-qvjsj4dlg51s7rgvrjnpe57p38tluflv.apps.googleusercontent.com"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">

  <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
  <script>
  function start() {
    gapi.load('auth2', function() {
      auth2 = gapi.auth2.init({
        client_id: '624010594506-qvjsj4dlg51s7rgvrjnpe57p38tluflv.apps.googleusercontent.com',
        // Scopes to request in addition to 'profile' and 'email'
        //scope: 'additional_scope'
      });
    });
  }
</script>
